# Ignore any files with these extensions
*.log
*.cache
*.secret
*.key

# Ignore anything containing "pass" or "token"
*pass*
*token*
systemd/
applications/

# Ignore specific directories
cache/
node_modules/
