add_newline = true

format = """
$os$directory$git_branch$git_status$fill$c$cpp$nodejs$rust$java$time
$character"""

[fill]
symbol = " "

[os]
disabled = true
style = "bg:#9A348E fg:#ffffff"
format = "[](#9A348E)[$symbol]($style)[](fg:#9A348E bg:none) "

[os.symbols]
Arch = " "
Linux = " " 

[directory]
style = "bg:#DA627D fg:#ffffff"
format = "[](#DA627D)[$path]($style)[](fg:#DA627D bg:none) "
truncation_length = 3

[git_branch]
symbol = ""
style = "bg:#FCA17D fg:#000000"
format = "([](fg:#FCA17D)[$symbol $branch|]($style))"

[git_status]
style = "bg:#FCA17D fg:#000000"
format = "([$all_status$ahead_behind]($style)[](fg:#FCA17D bg:none) )"

[cpp]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = "[](fg:#86BBD8)[$symbol]($style)[](fg:#86BBD8 bg:none) "

[rust]
symbol = ""
style = "bg:#86BBD8 fg:#000000"
format = "[](fg:#86BBD8)[$symbol]($style)[](fg:#86BBD8 bg:none) "

[time]
disabled = false
time_format = "%R"
style = "bg:#33658A fg:#ffffff"
format = "[](fg:#33658A bg:none)[ ♥ $time ]($style)[](fg:#33658A bg:none)"

[character]
success_symbol = "[╰─>](bold #86BBD8) "
error_symbol = "[╰─>](bold #DA627D) "
