# A cleaner vertical spacing
add_newline = true

# THE FORMAT STRING
# This dictates the order. I added $cpp which was missing.
format = """
[](#9A348E)\
$os\
$username\
[](bg:#DA627D fg:#9A348E)\
$directory\
[](fg:#DA627D bg:#FCA17D)\
$git_branch\
$git_status\
[](fg:#FCA17D bg:#86BBD8)\
$c\
$cpp\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#86BBD8 bg:#06969A)\
$docker_context\
[](fg:#06969A bg:#33658A)\
$time\
[ ](fg:#33658A)\
"""

# -----------------------------------------------------------------------------
# MODULE SETTINGS
# -----------------------------------------------------------------------------

# 1. IDENTITY (Purple Block)
[username]
show_always = true
style_user = "bg:#9A348E fg:#ffffff" # Added white text for contrast
style_root = "bg:#9A348E fg:#ffffff"
format = '[$user ]($style)'
disabled = true

[os]
style = "bg:#9A348E fg:#ffffff"
disabled = false 
format = '[$symbol]($style)'

[os.symbols]
Arch = " "
Linux = " "


# 2. LOCATION (Pink Block)
[directory]
style = "bg:#DA627D fg:#ffffff"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Photos" = " "


# 3. GIT (Orange Block)
[git_branch]
symbol = ""
style = "bg:#FCA17D fg:#000000" # Black text often reads better on orange
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:#FCA17D fg:#000000"
format = '[$all_status$ahead_behind ]($style)'


# 4. LANGUAGES (Blue Block)
# All language tools share the same background to merge into one bar
[c]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[cpp]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[elixir]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[elm]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[golang]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[gradle]
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = "󰆥 "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = " "
style = "bg:#86BBD8 fg:#000000"
format = '[ $symbol ($version) ]($style)'


# 5. CONTAINERS (Teal Block)
[docker_context]
symbol = " "
style = "bg:#06969A fg:#ffffff"
format = '[ $symbol $context ]($style)'


# 6. TIME (Dark Blue Block)
[time]
disabled = false
time_format = "%R" # 24 Hour format
style = "bg:#33658A fg:#ffffff"
format = '[ ♥ $time ]($style)'
