[Desktop Entry]
Version=1.0
Name=YouTube
Comment=Launch YouTube as a chromeless webapp
Exec=chromium --app=https://www.youtube.com
Icon=youtube
Terminal=false
Type=Application
Categories=Network;WebBrowser;
