@define-color background #302E36;
@define-color foreground #FEE5C9;
@define-color cursor #CA9C93;

@define-color color0 #55525C;
@define-color color1 #322854;
@define-color color2 #97535D;
@define-color color3 #6A76A0;
@define-color color4 #DCABB1;
@define-color color5 #B3C4CD;
@define-color color6 #FCB564;
@define-color color7 #F5D2A9;
@define-color color8 #AC9376;
@define-color color9 #322854;
@define-color color10 #97535D;
@define-color color11 #6A76A0;
@define-color color12 #DCABB1;
@define-color color13 #B3C4CD;
@define-color color14 #FCB564;
@define-color color15 #F5D2A9;

@define-color urgent      #322854;
@define-color success     #B3C4CD;
@define-color warning     #6A76A0;
@define-color active      #DCABB1;
@define-color audio       #B3C4CD;
@define-color info        #FCB564;
