@define-color background #0E1114;
@define-color foreground #F6EFE9;
@define-color cursor #9D9CAB;

@define-color color0 #37393C;
@define-color color1 #361D21;
@define-color color2 #45496D;
@define-color color3 #5A605A;
@define-color color4 #7F5959;
@define-color color5 #B1866A;
@define-color color6 #E5D2C0;
@define-color color7 #EAE0D7;
@define-color color8 #A39D96;
@define-color color9 #361D21;
@define-color color10 #45496D;
@define-color color11 #5A605A;
@define-color color12 #7F5959;
@define-color color13 #B1866A;
@define-color color14 #E5D2C0;
@define-color color15 #EAE0D7;

@define-color urgent      #361D21;
@define-color success     #B1866A;
@define-color warning     #5A605A;
@define-color active      #7F5959;
@define-color audio       #B1866A;
@define-color info        #E5D2C0;
