@define-color background #171218;
@define-color foreground #F0F3F7;
@define-color cursor #BEB5CD;

@define-color color0 #3F3A40;
@define-color color1 #104E8F;
@define-color color2 #8C77A4;
@define-color color3 #4B94BA;
@define-color color4 #DF837F;
@define-color color5 #FFBA58;
@define-color color6 #D5DEE7;
@define-color color7 #E2E6EB;
@define-color color8 #9EA1A4;
@define-color color9 #104E8F;
@define-color color10 #8C77A4;
@define-color color11 #4B94BA;
@define-color color12 #DF837F;
@define-color color13 #FFBA58;
@define-color color14 #D5DEE7;
@define-color color15 #E2E6EB;

@define-color urgent      #104E8F;
@define-color success     #FFBA58;
@define-color warning     #4B94BA;
@define-color active      #DF837F;
@define-color audio       #FFBA58;
@define-color info        #D5DEE7;
