@define-color background #22201B;
@define-color foreground #F7EDE2;
@define-color cursor #BCB191;

@define-color color0 #494640;
@define-color color1 #796E98;
@define-color color2 #817641;
@define-color color3 #0198D2;
@define-color color4 #E190A1;
@define-color color5 #C3CCF0;
@define-color color6 #E9CBAB;
@define-color color7 #ECDDCD;
@define-color color8 #A59A8F;
@define-color color9 #796E98;
@define-color color10 #817641;
@define-color color11 #0198D2;
@define-color color12 #E190A1;
@define-color color13 #C3CCF0;
@define-color color14 #E9CBAB;
@define-color color15 #ECDDCD;

@define-color urgent      #796E98;
@define-color success     #C3CCF0;
@define-color warning     #0198D2;
@define-color active      #E190A1;
@define-color audio       #C3CCF0;
@define-color info        #E9CBAB;
