@define-color background #16181A;
@define-color foreground #F7FAFA;
@define-color cursor #B8BDD0;

@define-color color0 #3D3F41;
@define-color color1 #25646B;
@define-color color2 #7A7FA5;
@define-color color3 #82967F;
@define-color color4 #C79A7F;
@define-color color5 #20B3DA;
@define-color color6 #E8F1F1;
@define-color color7 #EBF0F0;
@define-color color8 #A4A8A8;
@define-color color9 #25646B;
@define-color color10 #7A7FA5;
@define-color color11 #82967F;
@define-color color12 #C79A7F;
@define-color color13 #20B3DA;
@define-color color14 #E8F1F1;
@define-color color15 #EBF0F0;

@define-color urgent      #25646B;
@define-color success     #20B3DA;
@define-color warning     #82967F;
@define-color active      #C79A7F;
@define-color audio       #20B3DA;
@define-color info        #E8F1F1;
