@define-color background #1D1315;
@define-color foreground #F5E9FD;
@define-color cursor #AFBAFA;

@define-color color0 #453A3C;
@define-color color1 #A54B76;
@define-color color2 #688BF8;
@define-color color3 #9AA39D;
@define-color color4 #FE8185;
@define-color color5 #F8C28B;
@define-color color6 #E3C0F8;
@define-color color7 #E9D7F3;
@define-color color8 #A397AA;
@define-color color9 #A54B76;
@define-color color10 #688BF8;
@define-color color11 #9AA39D;
@define-color color12 #FE8185;
@define-color color13 #F8C28B;
@define-color color14 #E3C0F8;
@define-color color15 #E9D7F3;

@define-color urgent      #A54B76;
@define-color success     #F8C28B;
@define-color warning     #9AA39D;
@define-color active      #FE8185;
@define-color audio       #F8C28B;
@define-color info        #E3C0F8;
