@define-color background #1F1F29;
@define-color foreground #FEF8F5;
@define-color cursor #B7A2A8;

@define-color color0 #454551;
@define-color color1 #703902;
@define-color color2 #704C5B;
@define-color color3 #7E8BAF;
@define-color color4 #DB730A;
@define-color color5 #CE868A;
@define-color color6 #FBEAE1;
@define-color color7 #F5ECE8;
@define-color color8 #ABA5A2;
@define-color color9 #703902;
@define-color color10 #704C5B;
@define-color color11 #7E8BAF;
@define-color color12 #DB730A;
@define-color color13 #CE868A;
@define-color color14 #FBEAE1;
@define-color color15 #F5ECE8;

@define-color urgent      #703902;
@define-color success     #CE868A;
@define-color warning     #7E8BAF;
@define-color active      #DB730A;
@define-color audio       #CE868A;
@define-color info        #FBEAE1;
