window {
    background-color: rgba(0, 0, 0, 0);
}

/* Button Reset */
button {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 16px;        /* Rounded corners */
    border: 2px solid #000000;  /* Subtle border */
    margin: 10px;               /* Space between buttons */
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: background-color 0.2s ease-in-out; /* Smooth hover */
}

/* Hover Effect - Uses your preferred Purple */
button:focus, button:active {
    background-color: #3700B3;
    border-color: #5800E3;     /* Lighter purple border on hover */
    outline-style: none;
}

/* Icons */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
